* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  * {
    @extend %scrollbar;
  }
}

ul,
li {
  list-style: none;
}

body {
  font-family: $font-family-base;
  font-style: normal;
  font-size: $font-size;
  color: $text-color;
  background-color: $body-background;
  line-height: $line-height;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: $text-color;
  &:hover {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.4;
  font-weight: 600;
}

ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.row {
  margin-left: -12px;
  margin-right: -12px;

  [class*="col-"] {
    padding-left: 12px;
    padding-right: 12px;
  }
}
