<!-- Header  -->
<header id="header-container" class="ts-header">
    <div class="ts-header-top">
        <div class="row">
            <div class="col-12">
                <div class="ts-header-back">
                    <a href="#/timesheet">
                        <span class="ts-icon-sm"><i class="far fa-chevron-left"></i></span>
                        <span>{{vm._l.workingDetail}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main -->
<main class="ts-main"></main>