.ts-footer {
  background-color: $white;
  position: fixed;
  width: 100%;
  float: left;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: $box-shadow-footer;
}

.menu-footer {
  @extend %item-center;
  margin-bottom: 0;

  li {
    width: 50%;
    @extend %item-center;

    a {
      display: block;
      padding: 10px 2px;
      @extend %item-center;
      flex-wrap: wrap;
      float: left;
      text-align: center;
      font-size: 1rem;
      
      > i {
        margin-bottom: 0.6rem;
        font-size: 2rem;
        position: relative;
        color: $gray-2;

        &.fa-mobile-android {
          &:after {
            content: "";
            background-color: $danger;
            width: 1.2rem;
            height: 1.2rem;
            display: block;
            position: absolute;
            top: -5px;
            right: -7px;
            border-radius: 100%;
          }
        }
      }

      span {
        width: 100%;
        float: left;
        text-align: center;
        font-weight: 500;
        color: $gray-1;
      }

      &.active {
        color: $primary !important;
        > i {
          font-weight: 900;
          color: $primary !important;
        }
        span {
          color: $primary !important;
        }
      }
    }
  }
}

.toTop {
  position: fixed;
  background-color: #fff;
  border-radius: 100%;
  height: 40px;
  width: 40px;
  right: 20px;
  bottom: 10%;
  color: $primary;
  font-size: 18px;
  cursor: pointer;
  box-shadow: $box-shadow-footer;
  @extend %item-center;
  z-index: 99;
  // opacity: 1!important;
  &:hover {
    color: $primary;
  }
}
